{{ $issueID := .Get 0 }}
{{ range $.Site.Data.use_cases }}
{{ if or (not $issueID) (eq ($issueID | int) (.id | int)) }}
<table>
  <tr>
    <th>ID</th>
    <th>UC-{{ .id }} - {{ .title }}</th>
  </tr>
  <tr>
    <th>Actor</th>
    <th>{{ .content.Actor | markdownify  }}</th>
  </tr>
  <tr>
    <th>Scenario</th>
    <th>{{ .content.Scenario | markdownify }}</th>
  </tr>
  <tr>
    <th>Scope</th>
    <th>{{ .content.Scope | markdownify  }}</th>
  </tr>
</table>
{{ end }}
{{ end }}
